{% extends 'base2.html' %}

{% block title %}About{% endblock title %}
{% block style %} 


div.container {
  width: 1100px;
  margin: auto;
  background: rgba(107, 142, 35, 0.3)

  
}


  

div.team {
  width: 1100px;
  margin: auto;
  background: rgba(107, 142, 35, 0.3);
  ul.a {
  list-style-type: circle;
}


  
}

{% endblock style %}

{% block body %}
    <div class="container" my-4>

    <p><b><i>Agriculture is the backbone of the Indian Economy"</b></i>- said Mahatma Gandhi six decades ago. Even today,
    the situation is still the same, with almost the entire economy being sustained by agriculture, which is the 
    mainstay of the villages. It contributes 16% of the overall GDP and accounts for employment of approximately 52% 
    of the Indian population. Rapid growth in agriculture is essential not only for self-reliance but also to earn
    valuable foreign exchange.</p>

    <p>Indian farmers are second to none in production and productivity despite of the fact that millions are marginal
    and small farmers. They adopt improved agriculture technology as efficiently as farmers in developed countries.
    It is felt that with provision of timely and adequate inputs such as fertilizers, seeds, pesticides and by 
    making available affordable agricultural credit /crop insurance, Indian farmers are going to ensure food and 
    nutritional security to the Nation.</p>

    <p><b>Why we started the Web application?</b></p>
    <p> Being an indian citizen, its very difficult to neglect agricultural. Earlier agricultural was seen as
    presitgious occupation a man can have. People were very excited for purchasing agricultural land but nowadays 
    people see agricultural as the worst occupation. This is due to Industrial Revolution, which make people
    greeedy for money. The problem arises when these people motivates younger generation and teach them wrong.
    </p><p>
    The main reason that people are shifting is due to enviromental change, which leds to the unpredictable climate
    and that affects directly to agricultural and income from agricultural. Now a days their are unseasonable 
    rain, which are very harmfull to our crop. Here Comes our KRISHI PRADHAN Webapplication where we will 
    be telling about crops one needed to sow if for the maximum yeild. We can't create agriculture as the 
    presitgious occupation as it was without your help.</p>
    </p> 

    <p><b>What is our aim?</b></p>
    <p> Our main aim is to make the agriculture occupation as it was earlier. In this changing enviromental 
    conditions situation, we are going to make farmer know about the modern meathods to maximise the earning.
    As most of the younger generations are not intreseted in agricultural occupation, we will be targeting 
    older peoples whose primary income is agriculture. We will be suggesting them crops and modern meathod used 
    to maximise their yeild. Also we will be suggesting them an organic meathod which will help their soil 
    as well as their income will also grow as organic agricultural products have high demand nowadays.
    As younger generation will get the idea about the income present in agriculture,they will automatically get
    attracted.
    Our second Aim to reach As many farmers situated in Maharashtra to maximise the yeild for every farmer. As 
    soon as we will achieve our second aim we will complete our first step in achieving our first aim. 
    </p>
</div>
<div class="team" my-4>
<p></p>
    <b>Who are we?</b>
    <t> Our Team Consists of :
    <ul class="a">
  <li>Disha Khater</li>
  <li>Yash Diwase</li>
  <li>Pratik Dixit</li>
  <li>Dnyaneshwari shende</li>
  <li>Manoj Dohale</li>
</ul>
</div>


    {% comment %} <h6> Disha Khater</h6>
    <h6> Yash Diwase</h6>
    <h6> Pratik Dixit</h6>
    <h6> Dnyaneshwari shende</h6>
    <h6> Manoj Dohale</h6> {% endcomment %}



{% endblock body %}