{% extends 'base2.html' %}

{% block title %}About{% endblock title %}
{% block style %} 


div.container {
  width: 1100px;
  margin: auto;
  background: rgba(107, 142, 35, 0.3)

  
}
{% endblock style %}

{% block body %}


<div class="container" my-4>

    <p><b><i>WHAT IS ORGANIC FARMING? ORGANIC FARMING?</b></i>-"Organic agriculture is a production system that sustains the health of soils, ecosystems and people. It relies on ecological processes, biodiversity and cycles adapted to local conditions, rather than the use of inputs with adverse effects. Organic agriculture combines tradition, innovation and science to benefit the shared environment and promote fair relationships and a good quality of life for all involved..." </p>

    <p></p>

    <p><b>Major Problems and Constraints for Organic Farming in India!
    </b></p>
    <p><b>Lack of Awareness:</b>
        The most important constraint felt in the progress of organic farming is the inability of the government policy-making level to take a firm decision to promote organic agriculture.
        Many farmers in the country have only vague ideas about organic farming and its advantages as against the conventional farming methods.
        The use of bio-fertilizers and bio-pesticides requires awareness and willingness on the part of the farming community. Knowledge about the availability and usefulness of supplementary nutrients to enrich the soil is also vital to increase productivity. Attention on the application of composts/organic manure is also lacking.
        The organic matter is spread during the months when the right moisture level is absent on the soil. The whole manure turns into waste in the process. The required operation is of course labor-intensive and costly, but it is necessary to obtain the desired results.
        </p>
    <p><b>Shortage of Bio-mass:</b>
        Many experts and well-informed farmers are not sure whether all the nutrients with the required quantities can be made available by organic materials. Even if this problem can be surmounted, they are of the view that the available organic matter is not simply enough to meet the requirements.
        Inadequate Supporting Infrastructure:
        Despite the adoption of the NPOP during 2000, the state governments are yet to formulate policies and a credible mechanism to implement them. There are only four agencies for accreditation and their expertise is limited to fruits and vegetables, tea, coffee,the  and spices. The certifying agencies are inadequate.
    <p><b>High Input Costs:</b>
        The small and marginal farmers in India have been practicing a sort of organic farming in the form of the traditional farming system. They use local or own farm renewable resources and carry on the agricultural practices in an ecologically friendly environment. However, now the costs of the organic inputs are higher than those of industrially-produced chemical fertilizers and pesticides including other inputs used in the conventional farming system.
        Marketing Problems of Organic Inputs:
        Bio-fertilizers and bio-pesticides are yet to become popular in the country. There is a lack of marketing and distribution networks for them because the retailers are not interested to deal with these products, as the demand is low. The erratic supplies and the low level of awareness of the cultivators also add to the problem.
        Higher margins of profit for chemical fertilizers and pesticides for retailing, heavy advertisement campaigns by the manufacturers and dealers are other major problems affecting the markets for organic inputs in India.
    <p><b>Low Yields:</b>
        In many cases, the farmers experience some loss in yields on discarding synthetic inputs on the conversion of their farming method from conventional to organic.
        Restoration of full biological activity in terms of growth of beneficial insect populations, nitrogen fixation from legumes, pest suppression, and fertility problems will take some time and the reduction in the yield rates is the result in the interregnum. It may also be possible that it will take years to make organic production possible on the farm.
        

    </p><p>
    </p>
    </p> 

    <p><b>PROS OF ORGANIC FARMING
    </b></p>
    <p>  <ul class="a">
        
        <li>1)Minimizes the external cost of farming</li>
        <li>2)Soil and the environment is a public good</li>
        <li>3)Healthier food</li>
        <li>4)Healthier animals</li>
    </ul></p>
    <p><b>CONS of Organic Farming</b></p>
    <p><ul class="a">
        <li>1)Time involved</li>
        <li>2)More labor-intensive</li>
        <li>3)Potential loss of crops</li>
        <li>4)Organic pesticides</li>
        <li>5)Supermarkets profit more than farmers.</li>
        <li>6)The decline in crop yields.</li>
        </ul>
        
    </p>
</div>


{% endblock body %}